body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    /*background-color: #0E1A21;*/
    padding: 10px;
    background-image: url(./imgs/background/pokeball-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

/*-----------------------------------------------------------------------All reusable Class---------------------------------------------------------------------*/

.d-none {
    display: none !important;
}

.d-flex {
    display: flex !important;
}

.txt-wh {
    color: white;
}

.txt-bd {
    font-weight: bold;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}


/*-----------------------------------Poke Types Color -------------------------------------*/
.normal {
    background-color: #A8A77A;
}

.fire {
    background-color: #EE8130;
}

.water {
    background-color: #6390F0;
}

.grass {
    background-color: #7AC74C;
}

.electric {
    background-color: #F7D02C;
}

.ice {
    background-color: #96D9D6;
}

.fighting {
    background-color: #C22E28;
}

.poison {
    background-color: #A33EA1;
}

.ground {
    background-color: #E2BF65;
}

.flying {
    background-color: #A98FF3;
}

.psychic {
    background-color: #F95587;
}

.bug {
    background-color: #A6B91A;
}

.rock {
    background-color: #B6A136;
}

.ghost {
    background-color: #735797;
}

.dragon {
    background-color: #6F35FC;
}

/*----------------------------------------------------------------------All about Header---------------------------------------------------------------------------*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 150px;

    background-color: #07242E;
    border-radius: 20px;
    border: solid 1px white;
}

.headline-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 0 20px;
}

.headline {
    color: white;
    font-size: 30px;
}

.headline-icon {
    height: 40px;
    width: 40px;
}

.header-search-input {
    padding: 10px;
    border-radius: 20px;
    height: 50px;
    width: 200px;
    margin: 0 20px;
}

/*---------------------------------------------------------All about Section Pokedex Container-----------------------------------------------------------------*/

.pokedex-container {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    height: min-content;
    width: 100%;
    padding: 50px;
    flex-wrap: wrap;
    gap: 50px;
}


/*+++++++ All about PokeCards +++++++*/

.pokemon-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    align-items: center;
    height: 350px;
    width: 250px;
    border: solid 2px #07242E;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    overflow: hidden;
}

.pokemon-card:hover {
    transform: scale(1.1);
    transition: all ease-in-out 250ms;
    cursor: pointer;
    filter: drop-shadow(0 4px 8px rgba(255, 255, 255, 1.1));
}

.pokemon-card:hover .poke-img {
    filter: drop-shadow(0 4px 8px rgba(255, 255, 255, 1.1));
    transition: all ease-in-out 255ms;
}

.pokemon-card-bg{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    opacity: 0.8;
}


.card-head {
    z-index: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: min-content;
    border-bottom: solid 1px #07242E;
}

.poke-img-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.poke-img {
    scale: 1.3;
    object-fit: cover;
    position: relative;
}

/*++++++++++++PokeCard Footer +++++++++++*/

.poke-card-type-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    border: solid 1px #07242E;
    height: 35px;
    width: 40%;
    padding: 3px;
}

.card-detail {
    z-index: 1;
    display: flex;
    justify-content: end;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 55px;
}

.card-type-img {
    background-color: #07242E;
    height: 20px;
    width: 20px;
    object-fit: cover;
    border-radius: 20px;
    padding: 5px;
}


.card-types {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5px;
}

/*-------------------------------------------------------------------------All about Section Overlay Card ----------------------------------------------------*/

.pokemon-card-overlay-bg {
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

.pokemon-card-overlay {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    width: 400px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.9);
    filter: drop-shadow(0 1px 13px rgba(255, 255, 255, 1.2));
}

/*---------Overlay Card contents---------*/

.overlaycard-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.overlaycard-id {
    font-weight: bold;
    font-size: 25px;
    margin: 0;
}

.overlaycard-name {
    font-size: 35px;
    font-weight: bold;
    margin: 0;
}

.overlaycard-img {
    scale: 1.6;
}

.overlaycard-types {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 10px 0;
}

.overlaycard-type-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: solid 2px black;
    border-radius: 20px;
    width: 30%;
    height: 40px;
    padding: 2px;

}

.overlay-type-img {
    height: 35px;

}

.overlay-type-text {
    font-weight: bold;
}

/*----Overlay Card info Container---*/
.overlaycard-info-container {
    background-color: grey;
    height: 300px;
    padding: 15px 5px;
    border-radius: 20px;
}

.next-pokemon-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 0 20px 0;
}

.next-icon{
    width: 40px;
    background-color: blanchedalmond;
    border-radius: 30px;
    padding: 5px;
    border: solid 1px black;
    margin: 0 20px;
    cursor: pointer;
}



.overlaycard-navbar {
    display: flex;
    gap: 10px;
}

.overlaycard-info-bt {
    padding: 5px;
    border-radius: 15px;
    cursor: pointer;
    color: white;
    font-size: 18px;
    background-color: #07242E;
}

.overlaycard-poke-info {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
}

/*------Overlay Card  About info box -------*/

.about-info-box {
    display: flex;
    align-items: center;
    background-color: rgb(148, 148, 148);
    width: 100%;
    height: 100px;
    border-radius: 20px;
}

.info-category {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 16px;
    width: 100%;
}

.split-box {
    background-color: white;
    height: 90px;
    width: 5px;
}

.info-category p {
    display: flex;
    align-items: center;
    margin: 0;
    font-weight: bold;
    gap: 5px;
}

.info-category img {
    height: 30px;
}

/*------Overlay Card state info box--------*/
.state-info-box {
    display: flex;
    align-items: center;
    background-color: rgb(148, 148, 148);
    width: 100%;
    height: min-content;
    border-radius: 20px;
    padding: 10px;
}

.status-bar {
    display: flex;
    align-items: center;
    width: 300px;
    height: 10px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 1px;
}

.status{
    background-color: #07242E;
    height: 10px;
    border-radius: 5px;
    transition: all 255ms;
}

/*------------------------------------Section load Pokemon Button----------------------------*/


.loadNextPokemons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: min-content;
    padding: 20px;
}

.poke-load-bt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
    border: solid 1px white;
    border-radius: 20px;
    background-color: #07242E;
    width: 95%;
    height: 100px;
    cursor: pointer;
}

.pikachu-img {
    height: 90%;
    margin-right: 25px;
}

.pokeball-fall-img {
    height: 50%;
}

/*--------Responsive---------*/

@media(max-width: 695px) {

    .headline-box {
        flex-direction: column;
        gap: unset;
    }

    .headline {
        font-size: 25px;
    }

    .headline-icon {
        height: 30px;
        width: 30px;
    }

    .pokedex-container {
        padding: 10px;
    }

    .pokemon-card {
        flex-direction: column;
        height: 250px;
        width: 100%;
        background-size: cover;
    }

    .poke-card-type-box {
        height: 25px;
        width: 75px;
    }

    .card-detail {
        flex-direction: row-reverse;
        justify-content: left;
        align-items: center;
        gap: 20%;
    }

    .card-types {
        flex-direction: column;
        gap: 10px;
        font-size: 15px;
        margin-left: 15px;
    }

    .card-type-img {
        height: 18px;
        width: 18px;
    }

}

@media(max-width: 385px) {

    .card-detail {
        gap: 5%;
    }
}